.titulo{
    display: grid;
    justify-items: center; 
    text-align: center;
    margin: 35px;
}
.calculadora{
    display: grid;
    justify-items: center;
    align-items: center;
} 
button{
    display: grid;
    text-align: center;
    justify-items: center;
    cursor: pointer;
}
button:active{
    transform: translateY(1px);
}